@charset "UTF-8";
/* CSS Document */

/* start all css with a reset */

* {
  margin: 0px;
  padding: 0px;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  color: #464646;
    cursor: url(../images/alien_cursor.png) 16 35, auto;
}

header {
  top: 0px;
  width: 100%;
  position: fixed;
  z-index: 1000;
  height: 70px;
  background: rgba(226, 74, 211, 0.7);
  border-bottom: solid 1px black;
  box-shadow: 4px 4px 14px #000;
}

a {
  color: #0033ff;
}

h1 {
  margin-bottom: 20px;
  font-size: 28px;
  font-family: 'Inconsolata', monospace;
  text-shadow: 2px 2px #989ac8;
  color: white;
}

h2 {
  margin-bottom: 20px;
  font-style: italic;
}

a:hover {
  background-color: #0033ff;
  color: #fff;
}

main {
  padding: 20px;
  max-width: 600px;
}

p {
  margin-bottom: 20px;
  line-height: 26px;
}

.slideshow {
  float: left;
  margin-left: 5px;
  width: 448px;
  border: 1px solid #e7e7e7;
  border-radius: 2px;
  padding: 10px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  margin-top: 5px;
}
